  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
              <span class="copyright">This is a fictitious company, broughty to you by <a href="http://viettelcybersecurity.com">ViettelCyberSecurity's pentesting service</a></span>
            <div>
            <div class="row">
              <span class="copyright">Đây là công ty không có thật, được sử dụng trong report mẫu của <a href="http://viettelcybersecurity.com">dịch vụ pentest Công ty An ninh mạng Viettel</a></span>
            <div>
        </div>
    </footer>
